<div class="container">
    <ul>
        {{#each products}}
            <li>{{title}}</li>
        {{/each}}
    </ul>
    <button><a class="enterButton" href="/chat">Enter the Chat</a></button>
</div>