body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-size: cover;
}

.button-container {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #2a2c2e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
}

button:hover {
    background-color: #000000;
}

a.enterButton {
    color: #fff;
    text-decoration: none;
}

#messages{
    margin-top: 10px;
    height: 600px;
    overflow-y: scroll;
    width: 90%; 
    border: 2px solid #2a2c2e;
    font-size: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
}

.message{
    border: 2px solid #2a2c2e;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(155, 155, 155);
    display: inline-block;
    margin-top: 5px;
}

.input{
    border: 2px solid #2a2c2e;
    width: 80%;
    height: 30px;
    font-size: 20px; 
}





















